<!-- templates/base.html -->
{% load static %}
<style>
    a {
        outline-color: transparent;
    }
    a:link { 
        color: #2e2e2e
    }
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        color: #333;
        background-color: #9cb399;
        background-image: url("{% static 'core/contour2.svg'%}");
        background-repeat: no-repeat;
        background-size: 400%;
        background-position: 65% 15%;
        padding-top: 65px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block og %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:home' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'georesume:resume' %}">Resume</a>
                    </li>
                    <li class='nav-item'>
                        <a class="nav-link" href="{% url 'portfoliogallery:project_list' %}">Portfolio</a>
                    </li>
                    <li class='nav-item'>
                        <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="mt-5 py-3 text-center text-muted">
        <div class="container">
            <p>&copy; {% now "Y" %} tim clark. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-geo.v2.min.js"></script>
    <script src="https://d3js.org/d3-drag.v2.min.js"></script>
    <script src="https://d3js.org/d3-zoom.v2.min.js"></script>
    <script src="https://d3js.org/topojson.v3.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
