{% extends 'core/base.html' %}

{% block title %}My Portfolio - Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4 mb-4">Welcome to my space</h1>
        <p class="lead">
            I'm a data scientist with a focus on geography. This is a space to collect projects, portfolios, and host my resume. 
            This website is a practice project branching out into web development. To find out about how the site was built, <a href="{% url 'core:about' %}">click here.</a>
        </p>
        <div class="mt-4">
            <a href="{% url 'georesume:resume' %}" class="btn btn-outline-dark btn-lg">View My Resume</a>
        </div>
    </div>
</div>
{% endblock %}