/* static/css/main.css */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #9cb399;
    background-image: url('../contour2.svg');
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: 65% 15%;
    padding-top: 65px;
}
svg path {
    fill: #717171;
    stroke: #000000;
    stroke-width: 0.5px;

}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.timeline-container {
    position: relative;
}

.timeline-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: #4169e1;
    border-radius: 2px;
}